.box {
  height: 200px;
  width: 200px;
  overflow-y: scroll;
  background: red;

}
.products--grid{
  display: flex;
  flex-direction: column;
  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
    h2, p {
      margin: 0;
    }
  }
}

.message-error{
  background: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
  &.invalid {
    opacity: 1;
  }
}

.input-group{

  border-color: black;

  border-radius: 10px;
  label {
    display: block;
    padding: 5px;
}
input{
  border-radius: 5px;
}
p {
  color: red;
}
}
button {

  background-color: rgb(96, 160, 219);
  border-radius: 10px;
  margin: 0 auto;
  width: 100px;
  margin: 0 auto;
}

form {
  margin: 0 auto;
  width: 300px;
}

.caja {
  background-color: aquamarine;
}



.line-error{
  height: 0  ;
  border-bottom: 1px solid;
  &.invalid {
    border-color: red;
  }
  &.valid {
    border-color: green;
  }
}
.avatir{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 40em){
  .products--grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}
}



